<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" href="/stylesheet/app.css">
        	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86">
    <meta name="viewport" content="width=500, initial-scale=1">
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
        <title>A Taxi Management System</title>
        <link rel="icon" type="Icon (.ico)" href="https://cfcdnpull-creativefreedoml.netdna-ssl.com/wp-content/uploads/2017/03/taxi-app-icon-design_01.png">
    </head>
    <body>
        <!-- <div class="ui fixed inverted menu ">
            <div class="ui container">
                <a href="/" >
                    <div class="header huge huge item" style="display:inline-block">
                        <h3>Cabbii </h3>
                    </div> 
                </a>
                <a href="/taxi/new" class="item">Add new Taxi</a>
                <a href="/taxi" class="item">Taxi's</a>

            </div>
        </div> -->
        <!-- <div class="ui inverted vertical menu">
            <a class="active item">
              Home
            </a>
            <a class="item">
              Add New Cab
            </a>
            <a class="item">
              Taxi's List
            </a>
          </div> -->

          <div class="ui massive inverted menu">
            <a class="active item">
                Cabbii 
            </a>
            <a class="item" href="/taxi">
                Taxi
            </a>
            <a class="item" href="/User">
              User
            </a>
            <a class="item" href="/driver">
              Driver
            </a>
            <a class="item" href="/ride">
              Rides
            </a>
            <div class="right menu">

              <div class="item">
                  <div class="ui primary button">Member</div>
              </div>
            </div>
          </div>